<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Результат поиска в базе кандидатов</title>
</head>
<body class="align">

<header>
    <h4>Найдено кандидатов {{ search_result_amount }} База содержит {{ users_db_len }} кандидатов</h4>
</header>

<main>
    {% for line in search_result %}
    <p><a href="/candidate/{{ line['id'] }}">{{ line['name'] }}</a></p>
    {% endfor %}
</main>

<footer>
    <h4><a href="/" class="other_link">to: Главная страница</a></h4>
</footer>

</body>
</html>