<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Личная страница {{ user.name }}</title>
</head>
<body class="align">

<header>
    <h4>{{ user.name }}</h4>
</header>

<div id="main">
    <span><img src="{{ user.picture }}" width=200 alt="Красивая фотография"></span>
    <span>Позиция: {{ user.position }}</span>
    <span>Обладает навыками: {{ user.skills }}</span>
</div>

<footer>
    <h4><a href="/" class="other_link">to: Главная страница</a></h4>
</footer>

</body>
</html>